body, html {
  width: auto;
  height: auto;
}

body, h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: block;


}
h1 {
  text-align: center;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  display: block;
  padding-left: 1%

}

h3{
  padding-top: 20px;
  padding-left: 2%;
}

div{
  width: 100%
}
/*img {
  width: auto;
  height: auto;
}*/
p{
  width: 90%;
  padding-left: 3%;
  padding-bottom: 2%;
}
a {
    text-decoration: none;
    cursor: auto;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    text-align: center;

}

li {
  display: inline-block;
  padding: 10% 16px;
  height: 100%;

}

li a {
  padding: 14px 16px;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  height: 100%;



}

li a:hover {
    background-color: grey;
}
iframe {
  border: 0;
  padding-left: 1%;
  display: block;
}
.topnav {
  font-size: 14px;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;

}

.logocontainer {
  width: 10%;
  height: 100%;
  float: left;
  display: inline-flex;

}

.menucontainer{
  width: 45%;
  height: 100%;
  float: left;
  display: inline-flex;

}
.restofcontainer {
  width: 45%;
  height: 100%;
  float: left;
  display: inline-flex;
}
.menucontainer li{
  width: 50%;
  height: 100%
}
.restofcontainer li{
  width: 50%;
  height: 100%;

}

.aftermap {
  display: block;
}
